%div.station-show-page{:data => {:role => 'page'}}
  %div{:data => {:role => 'header', :theme => 's'}}
    %h1= t('stations.show.header', :name => @station_data.name)

  %div{:data => {:role => 'content'}}

    %ul{:data => {:role => 'listview'}}
      %li.map-container
        %img.map{:src => google_static_map(@station_data.ltd, @station_data.lng, 16, 640, 150)}

    %ul{:data => {:role => 'listview'}}
      %li= @station_data.description
      %li= @station_data.ltd
      %li= @station_data.lng
      %li= @station_data.current_bikes
      %li= @station_data.current_free_docks
      %li= @station_data.total_docks

  %div{:data => {:role => 'footer', :theme => 's'}}
    %h1= t('stations.show.footer', :name => @station_data.name)
