:javascript
  $(document).ready(function() {
    $('.ticker').sparkline('html', {width:400});
  });


%h3= 'Name'
%p= @station_data[:name]

%h3= 'Lng'
%p= @station_data[:lng]

%h3= 'Ltd'
%p= @station_data[:ltd]

%h3= 'Current Bikes'
%p= @station_data[:current_bikes]

%h3= 'Current Free Docks'
%p= @station_data[:current_free_docks]

%h3= 'Total Docks'
%p= @station_data[:total_docks]

%h3= 'Availability History'

%p= 'Thursday'
= render :partial => 'graph', :locals => {:values => @station_data[:station].states_at_day(Time.now - 6.day)}

%p= 'Friday'
= render :partial => 'graph', :locals => {:values => @station_data[:station].states_at_day(Time.now - 5.day)}

%p= 'Saturday'
= render :partial => 'graph', :locals => {:values => @station_data[:station].states_at_day(Time.now - 4.day)}

%p= 'Sunday'
= render :partial => 'graph', :locals => {:values => @station_data[:station].states_at_day(Time.now - 3.day)}

%p= 'Monday'
= render :partial => 'graph', :locals => {:values => @station_data[:station].states_at_day(Time.now - 2.day)}

%p= 'Tuesday'
= render :partial => 'graph', :locals => {:values => @station_data[:station].states_at_day(Time.now - 1.day)}